<h5>User Details</h5>
<hr>
<div class="col-md-4">
  <form [formGroup]="userForm" (ngSubmit)="saveUser(userForm.value)" autocomplete="off" novalidate>
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <em *ngIf="userForm.controls.firstName?.invalid && (userForm.controls.userName?.touched)">Required</em>
      <input formControlName="firstName" required id="firstName" type="text" class="form-control"
        placeholder="First Name..." />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <em *ngIf="userForm.controls.lastName?.invalid && (userForm.controls.userName?.touched)">Required</em>
      <input formControlName="lastName" required id="lastName" type="text" class="form-control"
        placeholder="Last Name..." />
    </div>
    <div class="form-group">
      <label for="userName">User Name:</label>
      <input formControlName="userName" id="userName" type="text" class="form-control" placeholder="User Name..." />
    </div>
    <div class="form-group">
      <label for="dateOfBirth">Date of birth:</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" formControlName="dateOfBirth" id="dateOfBirth"
          ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Submit</button>
  </form>
  <br>
  <div *ngIf="displayWarning" class="alert alert-warning">{{warningMessage}}</div>
  <div *ngIf="displayError" class="alert alert-danger">{{errorMessage}}</div>
</div>
