<h3>Requirement:</h3>
<p>Please create a software solution that has both backend and frontend:</p>
<ul>
  <li>Offers an API that will return the personal details of a user (identified by a ID present in the
    querystring): FirstName, LastName, Username, DateOfBirth (datepicker)</li>
  <li>The data returned by the API will be presented in a web page. Additional to the presented
    information will be a Submit button</li>
  <li>At focus out from the Username field, validate that the username does not contain the
    FirstName or LastName. An error will be displayed above the field if this condition is not fulfilled</li>
  <li>On Submit, a request should go to your application backend which will return an error. The error
    will be displayed in your UI. This error will be cleared when the user starts changing any of their
    details in the form</li>
</ul>
<h3>Guidelines:</h3>
<ul>
  <li>The frontend application must be developed in one of the frameworks of your choice (Angular,
    React, Vue etc.)</li>
  <li>The backend should be developed in node.js / C#</li>
  <li>The solution should contain a README file in which you explain how to build and run the
    application, plus any other comments over the solution chosen or problems faced</li>
  <li>Upload the solution on GitHub and send us the link by email</li>
</ul>
